* {
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    border-color 0.3s ease;
}

.colored-bullets li::marker {
  color: oklch(0.696 0.17 162.48);
}

.dark .colored-bullets li::marker {
  color: oklch(0.696 0.17 162.48);
}
