<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{{ .Site.Title }}</title>

{{ $css := resources.Get "css/main.css" | css.PostCSS }}
<link rel="stylesheet" href="{{ $css.Permalink }}" />

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet" />

<script src="https://code.iconify.design/iconify-icon/3.0.2/iconify-icon.min.js"></script>
